<h3>Hello <?name?>Member<?/name?></h3>

<p>
	We welcome you to the new helping system called 3Gift, This is a wonderfull system where you can help others and in return the system tryies to give you help back from other memebrs. 
</p>
<p>
	<h4>Here are your credential details <h4>
	<br/>
	<b>Username :</b> <?$username?><br/>
	<b>Password :</b> <?$password?><br/>
</p>
<p>
	<h4>Your Bank Details Are As follows <h4>
	<br/>
	<b>Bank :</b> <?$bank?><br/>
	<b>Bank Branch :</b> <?$bank_branch?><br/>
	<b>Bank Ifsc Code :</b> <?$bank_ifsc_code?><br/>
	<b>Bank Account Number :</b> <?$bank_account_number?><br/>
</p>

<p>
	<small><small>
		Kindly understand the system very carefully before sending money to any other account. We at Gift3 takes no responsibility of any kind of money transfer. We are just providing names for your reference and sending, approving, rejecting and/or is totally dependent on persons in dealing. kindly do any transaction at your own risk. Gift3 system is dependednt on new registrant to give you help and hence in any case we are not committing any fixed time in which you will be benefited.
	</small></small>
</p>