<!doctype html>  
   <head>
   <meta charset="UTF-8">
   <title>Gift3</title>
   <link rel="icon" href="images/favicon.gif" type="image/x-icon"/>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
     <![endif]-->

   <link rel="shortcut icon" href="images/favicon.gif" type="image/x-icon"/> 
   <link rel="stylesheet" type="text/css" href="<?template?>css/jquery-ui.css<?/?>" />
   <link rel="stylesheet" type="text/css" href="<?template?>css/atk-main.css<?/?>" />
   <link rel="stylesheet" type="text/css" href="<?template?>css/styles.css<?/?>"/>
   <?$js_include?>

   <script type="text/javascript">
         $(function(){
            <?$document_ready?>
         });
      </script>
   </head>
   <body>

   <!--start container-->
   <div id="container">

   <!--start header-->
   <header>

   <!--start logo-->
   <a href="#" id="logo"><img src="<?template?>images/logo.png<?/?>" width="221" height="84" alt="logo"/></a>    
   <!--end logo-->

   <!--start menu-->
   <nav>
      <?Menu?>
         <div class="atk-menu atk-menu-horizontal ui-widget">
            <ul>
               <li class="ui-state-default"><a href="javascript:void(0)">Menu is not defined</a></li>
            </ul>
         </div>
      <?/?>
   </nav>

   <!--end menu-->

   <!--end header-->
   </header>

   <!--start intro-->

   <?header?>
   <div id="intro">
   <img src="<?template?>images/banner1.png<?/?>"  alt="baner">
   </div>
   <!--end intro-->
   <header class="group_bannner_left">
   <hgroup>
   <h1>Give Donation</h1>
   <h2>If you are helpful person or in need of donation, register yourself here and get donation.
   </h2>
   </hgroup>
   <div class="button black"><a href="?page=plan">Read more about 3Gift</a></div>
   </header>
   <?/header?>
   <!--start holder-->

   <div class="holder_content">

   <section class="group1">
      <div><?$welcome?></div>
      <?$Content?>
      <!--
   <h3>Services</h3>
   	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin. 
   Vestibulum condimentum  facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy. Cras quis libero.</p>

   <article class="holder_gallery">
   <a class="photo_hover2" href="#"><img src="<?template?>images/picture2.jpg<?/?>" width="150" height="99" alt="picture1"/></a>
   <h2>Lorem ipsum</h2>
   <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin. 
   Vestibulum condimentum  facilisis nulla. In hac habitasse platea dictumst.
   </p> <span class="readmore"><a href="#">Read more..</a></span>
   </article>
   -->
   </section>

<?aside?>
   <aside class="group2">
   <h3>Simple Donation System</h3>

   <article class="holder_news">
   <h4>Send Donation
   <span>Step 1</span></h4>
   <p>Just register free and send donation to a person, after sent donation approval be ready to take donations<span class="readmore">
   <a href="?page=plan">Read more..</a></span></p>
   </article>

   <article class="holder_news">
   <h4>Wait for your turn
   <span>Step 2</span></h4>
   <p>The system lines up new members to send donation on the first come first serve basis so wait for your turn to come
   <span class="readmore"><a href="?page=plan">Read more..</a></span></p>
   </article>

   <article class="holder_news">
   <h4>Receive Donations
   <span>Step 3</span></h4>
   <p>On your turn new members will be provided with your detials to send donation. 
   <span class="readmore"><a href="?page=plan">Read more..</a></span></p>
   </article>
   </aside>
<?/aside?>
   

   </div>
   
   <!--end holder-->

   </div>
   
   <!--end container-->

   <!--start footer-->
   <footer>
   <div class="container">  
   <div id="FooterTwo"> 3gift.biz </div>
   <div id="FooterTree" style='color:white; font-size: 30px; border: 3px solid #FFCC33; padding: 5px'><?visitors?>3Gift help system <?/visitors?></div> 
   </div>
   </footer>
   <!--end footer-->
   <!-- Free template distributed by http://freehtml5templates.com -->   
   </body>
</html>
