<!doctype html>  
   <head>
   <meta charset="UTF-8">
   <title>Fresh Ideas - Home</title>
   <link rel="icon" href="images/favicon.gif" type="image/x-icon"/>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
     <![endif]-->

   <link rel="shortcut icon" href="images/favicon.gif" type="image/x-icon"/> 
   <link rel="stylesheet" type="text/css" href="<?template?>css/jquery-ui.css<?/?>" />
   <link rel="stylesheet" type="text/css" href="<?template?>css/atk-main.css<?/?>" />
   <link rel="stylesheet" type="text/css" href="<?template?>css/styles.css<?/?>"/>
   <?$js_include?>

   <script type="text/javascript">
         $(function(){
            <?$document_ready?>
         });
      </script>
   </head>
   <body>

   <!--start container-->
   <div id="container">

   <!--start header-->
   <header>

   <!--start logo-->
   <a href="#" id="logo"><img src="<?template?>images/logo.png<?/?>" width="221" height="84" alt="logo"/></a>    
   <!--end logo-->

   <!--start menu-->
   <nav>
      <?Menu?>
         <div class="atk-menu atk-menu-horizontal ui-widget">
            <ul>
               <li class="ui-state-default"><a href="javascript:void(0)">Menu is not defined</a></li>
            </ul>
         </div>
      <?/?>
   </nav>

   <!--end menu-->

   <!--end header-->
   </header>

   <!--start intro-->

   <div id="intro">
   <img src="<?template?>images/banner1.png<?/?>"  alt="baner">
   </div>
   <!--end intro-->

   <header class="group_bannner_left">
   <hgroup>
   <h1>We serve fresh ideas</h1>
   <h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin. 
   </h2>
   </hgroup>
   <div class="button black"><a href="#">Read more about our fresh ideas</a></div>
   </header>

   <!--start holder-->

   <div class="holder_content">

   <section class="group1">
      <?$Content?>
      <!--
   <h3>Services</h3>
   	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin. 
   Vestibulum condimentum  facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy. Cras quis libero.</p>

   <article class="holder_gallery">
   <a class="photo_hover2" href="#"><img src="<?template?>images/picture2.jpg<?/?>" width="150" height="99" alt="picture1"/></a>
   <h2>Lorem ipsum</h2>
   <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin. 
   Vestibulum condimentum  facilisis nulla. In hac habitasse platea dictumst.
   </p> <span class="readmore"><a href="#">Read more..</a></span>
   </article>
   -->
   </section>

<?aside?>
   <aside class="group2">
   <h3>Receive Gift</h3>

   <article class="holder_news">
   <h4>Lorem ipsum
   <span>10.09.2011</span></h4>
   <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu.<span class="readmore">
   <a href="#">Read more..</a></span></p>
   </article>

   <article class="holder_news">
   <h4>Lorem ipsum
   <span>20.09.2011</span></h4>
   <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu.	
   <span class="readmore"><a href="#">Read more..</a></span></p>
   </article>

   <article class="holder_news">
   <h4>Lorem ipsum
   <span>27.09.2011</span></h4>
   <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. 	
   <span class="readmore"><a href="#">Read more..</a></span></p>
   </article>
   </aside>
<?/aside?>
   

   </div>
   
   <!--end holder-->

   </div>
   
   <!--end container-->

   <!--start footer-->
   <footer>
   <div class="container">  
   <div id="FooterTwo"> © 2011 Fresh ideas </div>
   <div id="FooterTree">footer </div> 
   </div>
   </footer>
   <!--end footer-->
   <!-- Free template distributed by http://freehtml5templates.com -->   
   </body>
</html>
