<h3>What is 3Gift</h3>
<p>
	3Gift is a donation system by which you can help others and in return you can get donation from others. This is a first come first serve basis system which does not gurentee unlimited or huge income in short time. Whenever you donate to others, you are lined up in receivers list. From new coming doners you will get donation when your number will come. At max you can get three donations.
</p>
<p>
	In case you want to do more donation you can do it in your own member area. After each Donation you are eligible to get three more donations whenever doner is available for you.
</P>
<h3>Keep the system clean</h3>
<p>
	This system is generated for very good reason and to help others. So to keep it clean kindly follow the points:
	<ol>
		<li>1. Do not approve Any fake receipt, approve only after complete check of your acocunt</li>
		<li>2. In case of any conflicted issues, email admin to resolve it.</li>
		<li>3. In case of wrong rejection of your submitted amount, Kindly inform admin so that admin can approve it for you. In this case if you are found correct, admin has right to block the ID of rejector.</li>
		<li>4. If your attached image/receipt is found wrong your ID may get blocked by Admin.</li>
		
	</ol>
</p>